## Assignment 6

* considerare le consumazioni avvenute in un certo Ristorante
* i files **week_1_sales.csv**   **week_2_sales.csv** registrano li ordini avvenuti in due diverse settimane
* ogni ordine include l'**ID** del cliente che ha fatto l'ordine e l'**id** del cibo che ha ordinato

In [1]:
import pandas as pd

In [6]:
week1 = pd.read_csv('../datasets/week_1_sales.csv')
week2 = pd.read_csv("../datasets/week_2_sales.csv")
cust = pd.read_csv("../datasets/customers.csv")

print(week1.head())
print(week2.head())
print(cust.head())

   Customer ID  Food ID
0          537        9
1           97        4
2          658        1
3          202        2
4          155        9
   Customer ID  Food ID
0          688       10
1          813        7
2          495       10
3          189        5
4          267        3
   ID First Name Last Name  Gender  Company                     Occupation
0   1     Joseph   Perkins    Male  Dynazzy  Community Outreach Specialist
1   2   Jennifer   Alvarez  Female     DabZ        Senior Quality Engineer
2   3      Roger     Black    Male  Tagfeed              Account Executive
3   4     Steven     Evans    Male     Fatz               Registered Nurse
4   5       Judy  Morrison  Female  Demivee                Legal Assistant

* concatenare i dati relativi alla settimana in un nuvo **DataFrame**
* trovare i clienti che hanno frequentato il ristorante in entrambe le settimane
* trovare i clienti che hanno frequentato il ristorante in entrambe le settimane e hanno ordinato il solito cibo
* identificare i clienti che hanno frequentato il ristorante solo nella prima settimana o solo nella seconda settimana
* Per ogni cliente che appare nel DataFrame **week1** identificare le informazioni di quel cliente contenute nel **DataFrame** **customers**

-> concatenare i dati relativi alla settimana in un nuvo DataFrame

In [9]:
week12 = pd.concat([week1 , week2])
week12.head()

   Customer ID  Food ID
0          537        9
1           97        4
2          658        1
3          202        2
4          155        9

In [16]:
# Merge delle due weeks con inner sul customer ID per prendere solo nel caso in cui ci siano entrambi -> unique per prendere IDs
bothweeks = pd.merge(week1 , week2, on="Customer ID", how="inner", suffixes=["_week1" , "_week2"])
clients_bothweeks = bothweeks["Customer ID"].unique()
clients_bothweeks

array([537, 155, 503, 550, 101,  75,  77, 628, 798, 462, 304, 189, 799,
        30, 249, 677, 741, 540, 819, 937, 233,  21, 459, 816, 761,  80,
       479, 922, 909, 919, 574,  45, 529, 673, 310, 867, 968, 482, 163,
       321, 783, 578, 520, 945, 343, 621])

- trovare i clienti che hanno frequentato il ristorante in entrambe le settimane e hanno ordinato il solito cibo

In [24]:
both_weeksfoods = pd.merge(week1 , week2 , on=["Customer ID" , "Food ID"], how="inner", suffixes=["_week1" , "_week2"])
both_weeksfood_clients = both_weeksfoods["Customer ID"].unique()
both_weeksfood_clients

array([304, 540, 937, 233,  21, 922, 578])

- identificare i clienti che hanno frequentato il ristorante solo nella prima settimana o solo nella seconda settimana

In [31]:
#faccio un merge delle due settimane con how="outer" salvando che tipo di merge e' stato fatto 
merge_week12 = pd.merge(week1, week2, on="Customer ID", how="outer", indicator=True)

#separo i dati
only_week1 = merge_week12[merge_week12["_merge"] == "left_only"]
only_week1_clients = only_week1["Customer ID"].unique()

only_week2 = merge_week12[merge_week12["_merge"] == "right_only"]
only_week2_clients = only_week2["Customer ID"].unique()

# print(only_week1_clients)
# print(only_week2_clients)

- Per ogni cliente che appare nel DataFrame week1 identificare le informazioni di quel cliente contenute nel DataFrame customers

In [33]:
#rinomino ID -> Customer ID e faccio una merge inner su quello 

cust.rename(columns={"ID": "Customer ID"}, inplace=True)
full_week1 = pd.merge(week1 , cust, on="Customer ID" , how="inner")
full_week1

,Customer ID,Food ID,First Name,Last Name,Gender,Company,Occupation
0,537,9,Cheryl,Carroll,Female,Zoombeat,Registered Nurse
1,97,4,Amanda,Watkins,Female,Ozu,Account Coordinator
2,658,1,Patrick,Webb,Male,Browsebug,Community Outreach Specialist
3,202,2,Louis,Campbell,Male,Rhynoodle,Account Representative III
4,155,9,Carolyn,Diaz,Female,Gigazoom,Database Administrator III
...,...,...,...,...,...,...,...
245,413,9,Diane,Bailey,Female,Wikibox,Technical Writer
246,926,6,Anne,Wagner,Female,Skyba,Legal Assistant
247,134,3,Diana,Hall,Female,Quinu,Financial Advisor
248,396,6,Juan,Romero,Male,Zoonder,Analyst Programmer
249,535,10,Nancy,Cox,Female,Trudeo,Research Associate